<div>
  <div class="carDetails">
    <div>
      <label>Marka:  </label>
      <div>
        <input [(ngModel)]="car.brand" placeholder="car">
      </div>
    </div>
    <div>
      <label>Model: </label>
      <div>
        <input [(ngModel)]="car.model" placeholder="car">
      </div>
    </div>
    <div>
      <label>Silnik:</label>
      <div>
        <input [(ngModel)]="car.engine" placeholder="car">
      </div>
    </div>
    <div>
      <label>Rok Produkcji: </label>
      <div>
        <input [(ngModel)]="car.year" placeholder="car">
      </div>
    </div>
    <div>
      <label>Data Badania Technicznego: </label>
      <div>
        <input [(ngModel)]="car.serviceDate" placeholder="car">
      </div>
    </div>
    <div>
      <label>Numer Rejestracyjny: </label>
      <div>
        <input [(ngModel)]="car.regNumber" placeholder="car">
      </div>
    </div>
    <div>
      <label>Wlasciciel: </label>
      <div>
        <input [(ngModel)]="car.owner" placeholder="car">
      </div>
    </div>
  </div>
  <div class="carDetails">
    <app-repair-list [id]="car.id"></app-repair-list>
  </div>
</div>