<div>
  <label>Marka:  {{car.brand}}</label>
  <input [(ngModel)]="car.brand" placeholder="car">

</div>
<div>
  <label>Model: {{car.model}}</label>
  <div>
    <input [(ngModel)]="car.model" placeholder="car">
  </div>
</div>
<div>
  <label>Silnik: {{car.engine}}</label>
  <div>
    <input [(ngModel)]="car.engine" placeholder="car">
  </div>
</div>
<div>
  <label>Rok Produkcji: {{car.year}}</label>
  <div>
    <input [(ngModel)]="car.year" placeholder="car">
  </div>
</div>
<div>
  <label>Data Badania Technicznego: {{car.serviceDate}}</label>
  <div>
    <input [(ngModel)]="car.serviceDate" placeholder="car">
  </div>
</div>
<div>
  <label>Numer Rejestracyjny: {{car.regNumber}}</label>
  <div>
    <input [(ngModel)]="car.regNumber" placeholder="car">
  </div>
</div>
<div>
  <label>Wlasciciel: {{car.owner}}</label>
  <div>
    <input [(ngModel)]="car.owner" placeholder="car">
  </div>
</div>
<div>
  <button (click)="showRepairs()">Pokaz Naprawy</button>
</div>
<app-repair-list *ngIf="repairsVisible == true" [id]="car.id"></app-repair-list>