<div>
  <label>Marka:  {{carAudi.brand}}</label>
  <input [(ngModel)]="carAudi.brand" placeholder="car">

</div>
<div>
  <label>Model: {{carAudi.model}}</label>
  <div>
    <input value="{{carAudi.model}}" placeholder="car">
  </div>
</div>
<div>
  <label>Silnik: {{carAudi.engine}}</label>
  <div>
    <input value="{{carAudi.engine}}" placeholder="car">
  </div>
</div>
<div>
  <label>Rok Produkcji: {{carAudi.year}}</label>
  <div>
    <input value="{{carAudi.year}}" placeholder="car">
  </div>
</div>
<div>
  <label>Data Badania Technicznego: {{carAudi.serviceDate}}</label>
  <div>
    <input value="{{carAudi.serviceDate}}" placeholder="car">
  </div>
</div>
<div>
  <label>Numer Rejestracyjny: {{carAudi.regNumber}}</label>
  <div>
    <input value="{{carAudi.regNumber}}" placeholder="car">
  </div>
</div>
<div>
  <label>Wlasciciel: {{carAudi.owner}}</label>
  <div>
    <input value="{{carAudi.owner}}" placeholder="car">
  </div>
</div>