<p>
  car-list works!
</p>
<table>
  <tr>
    <th>Model</th>
    <th>Marka</th>
    <th>Rok Produkcji</th>
    <th>Numer Rejestracyjny</th>
    <th>Silnik</th>
    <th>Paliwo</th>
    <th>Badanie Techniczne</th>
    <th>Wlasciciel</th>
    <th>Numer Tel.</th>


  </tr>
  <tr *ngFor="let car of cars">
    <td>{{car.model}}</td>

  </tr>
  <tr *ngFor="let car of cars">
    <td>{{car.brand}}</td>
  </tr>
  <tr *ngFor="let car of cars">
    <td>{{car.year}}</td>
  </tr>
  <tr *ngFor="let car of cars">
    <td>{{car.regNumber}}</td>

  </tr>
  <tr *ngFor="let car of cars">
    <td>{{car.engine}}</td>
  </tr>
  <tr *ngFor="let car of cars">
    <td>{{car.fuel}}</td>
  </tr>
  <tr *ngFor="let car of cars">
    <td>{{car.serviceDate}}</td>
  </tr>
  </tr>
  <tr *ngFor="let car of cars">
    <td>{{car.owner}}</td>
  </tr>
  <tr *ngFor="let car of cars">
    <td>{{car.phone}}</td>
  </tr>
</table>