<div>
  <div class="carDetails">
    <div>
      <label>Marka:  </label>
      <div>


        <select [(ngModel)]="selectedBrand" (change)="onChange($event)">
           <option [ngValue]="undefined" >Select</option>
         
          <option *ngFor="let brand of brands" [value]="brand.id"   >{{brand.name}}</option>
        </select>

      </div>
    </div>
    <div>
      <label>Model: </label>
      <div>
        <select [(ngModel)]="car.model">
           <option [ngValue]="undefined" >Select</option>
          
          <option *ngFor="let model of models" [value]="model.name">{{model.name}}</option>
        </select>

      </div>
    </div>
    <div>
      <label>Silnik:</label>
      <div>
        <input [(ngModel)]="car.engine" placeholder="car">
      </div>
    </div>
    <div>
      <label>Rok Produkcji: </label>
      <div>
        <select [(ngModel)]="selectedYear">
           <option [ngValue]="undefined" >Select</option>
          
          <option *ngFor="let year of years" [value]="year.name">{{year.name}}</option>
        </select>
      </div>
    </div>
    <div>
      <label>Data Badania Technicznego: </label>
      <div>
        <!--<input [(ngModel)]="car.serviceDate" placeholder="car">-->
        <ng2-datepicker [options]="options" [(ngModel)]="date"></ng2-datepicker>
      </div>
    </div>
    <div>
      <label>Numer Rejestracyjny: </label>
      <div>
        <input [(ngModel)]="car.regNumber" placeholder="car">
      </div>
    </div>
    <div>
      <label>Wlasciciel: </label>
      <div>

        <select [(ngModel)]="car.owner">
          <option [ngValue]="undefined">Select</option>
          <option *ngFor="let owner of owners" [value]="owner.firstName +' '+ owner.lastName">{{owner.firstName}} {{owner.lastName}}</option>
        </select>
      </div>
    </div>
    <div>
      <label>Numer VIN: </label>
      <div>
        <input [(ngModel)]="car.VIN" placeholder="car">
      </div>
    </div>
  </div>

</div>
<div><button (click)="add()">Dodaj</button></div>